.accent-color-bg {
    background-color: #17D0BC;
}

.accent-color {
    color: #17D0BC;
}

.txt-white {
    color: white;
}

.grid-center {
    display: grid;
    place-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
}